<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://awseb-e-pfard3udvy-stack-awsebrdsdatabase-jr3nwhqwgro2.c5uu426g425k.us-east-2.rds.amazonaws.com:3306 </property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Inf0rmaCast.</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <mapping class="entity.User"/>
        <mapping class="entity.Glaze"/>
        <mapping class="entity.Project"/>
        <mapping class="entity.Tag"/>
        <mapping class="entity.AdminAction"/>
        <mapping class="entity.Project"/>
        <mapping class="entity.ProjectEntry"/>
        <mapping class="entity.Image"/>
        <mapping class="entity.ProjectGlaze"/>
        <mapping class="entity.ProjectTag"/>
    </session-factory>
</hibernate-configuration>