files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIID6TCCAtGgAwIBAgIUIdpcDxc5k5rTY634uEUIMcfx9BEwDQYJKoZIhvcNAQEL
      BQAwgZwxCzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcM
      B01hZGlzb24xDTALBgNVBAoMBE1hdGMxEjAQBgNVBAsMCU1hcmtldGluZzEYMBYG
      A1UEAwwPd3d3LmV4YW1wbGUuY29tMSowKAYJKoZIhvcNAQkBFhtwbGFkd2lnMUBt
      YWRpc29uY29sbGVnZS5lZHUwHhcNMjUwMzE4MTQzNDA3WhcNMjYwMzE4MTQzNDA3
      WjCBnDELMAkGA1UEBhMCVVMxEjAQBgNVBAgMCVdpc2NvbnNpbjEQMA4GA1UEBwwH
      TWFkaXNvbjENMAsGA1UECgwETWF0YzESMBAGA1UECwwJTWFya2V0aW5nMRgwFgYD
      VQQDDA93d3cuZXhhbXBsZS5jb20xKjAoBgkqhkiG9w0BCQEWG3BsYWR3aWcxQG1h
      ZGlzb25jb2xsZWdlLmVkdTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
      AN24Oza+6V3x+2vZYrv0OApB7LKrUJifaQuCWjW5Wh0BxYLzoltlAzQqKo/Ew7I7
      LM0ySdEx4fCuUgCpyKhyOgV0kx5PLy/HbgQnM/pk7bweGDY4D7r11EKXppMCJzuc
      oV9UAm4pRvtN8Uif3MGpYG8lRb74KsdhnZbc906QHT5M+gb0XBjY97kZd5TXWbQy
      +Nx0izx+WflhPJhiuRPKaySW9X90etQgMVNNQh41PbrkcAKMqqiByFuzNA7DBxgZ
      gdXMUYTeU8l+lXoGvml7oNtAuq0MvzAQdwMVjSTnZGRvB/BpR7KUi+VRSM9oMu9c
      mzLFjIVr0ynEhGwne55ucPUCAwEAAaMhMB8wHQYDVR0OBBYEFCmKRyX5keBcbOxQ
      zWzXH3b8Wo+aMA0GCSqGSIb3DQEBCwUAA4IBAQDFS/8X/OCkkg6dFtvc+u8sp0Lk
      QxQIrCbuBkOnXsf2qQ/Fl11Zgdfpi7IgQpcbv9iGpuxZVdi4EPm/l2Pjj82FGvoC
      mr4O7RkNheHxzTy7H+efIN13h/G+HKUDRS3lhbLIZdS1Y3R2gFs9ACaftBh4iomm
      jk/UvvYlU7pasZ2B+Murgcawe1qdAshQYeC1FAEKOxhDSzgzy0IYCVF8JHZQfBio
      EA/apyglYxtMYkFkXtN2wVeOXT6/vkVpR8uzq0SWygH4aMY36yeVelr5X6NQqbaV
      x7KzpMJsuvqCzFZkzjSf2e4I2Un0WHku5zE53wyYcgHn4+NMaXrgDJNEKb60
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDduDs2vuld8ftr
      2WK79DgKQeyyq1CYn2kLglo1uVodAcWC86JbZQM0KiqPxMOyOyzNMknRMeHwrlIA
      qciocjoFdJMeTy8vx24EJzP6ZO28Hhg2OA+69dRCl6aTAic7nKFfVAJuKUb7TfFI
      n9zBqWBvJUW++CrHYZ2W3PdOkB0+TPoG9FwY2Pe5GXeU11m0MvjcdIs8fln5YTyY
      YrkTymsklvV/dHrUIDFTTUIeNT265HACjKqogchbszQOwwcYGYHVzFGE3lPJfpV6
      Br5pe6DbQLqtDL8wEHcDFY0k52RkbwfwaUeylIvlUUjPaDLvXJsyxYyFa9MpxIRs
      J3uebnD1AgMBAAECggEAFKklQ22421tAPYWNUMxqKHKKNwAFy6MXK85iz5zNC+Tt
      Xc2MNI4OJV9Ehg8k2UfwXdKw1ECcuEvWMl+f5ip2w6lgSDPCxuYDl3l7u3qKOLxp
      Lyw8MwTTWb099Xb+5uwqkXKHo3JPPf2+XTEgZh99b/3+KNSBUAEFqVg/519Ailx/
      hEtEYKcgY0GzLtMEQ7kklzaVewlxeYwMtLo21y+S26s6pZ3MyfY1uEHLYYm12Jxc
      x8UFY9sEwiqy1FtCVECShoayiT62/Xd/3sqchG816YeuPBG+1bM8M31cUW/zDBDl
      ycGhBJRBmh1LP5l0mGFoy1ZU44Mt9WwBbBDfSpqoIQKBgQD32M80+PywQ3h2Axwo
      vzU4PC83uNuvwfziWLxD7HAXxE6JdP5VAR719g0skWvdeIUYCdMbW+4C7FSrlhrq
      GCWqpgiiWul6l8FYGtudEt8WMt09QZ3AEmNT/icz7MoFMiXmus4y7D2HPC3x1qIp
      A3+90zsmIZOxywicO86DD0erDQKBgQDlA2WN6dj3QI4/9v/Z3Ch0cbD8we4ug3QF
      CVOPS2LKoDS08dYVZuU+R25LUXeeHlAxxxnXXP4NZwIaAxyeolnsRIwDVwJLao+e
      G9481djuusQqTfccpnSXkOAapHbkCZWjYfsLH+jY4bD4HQENfchxW7iAYutPPwtv
      H5wGyq3DiQKBgQCVwjvyFkEZgKtZI6fwNxlBUZx2XwzftqfHXTblFAjnU4bhKABF
      /NdoZ7SuKXCz8g7553XYIkQ/H+5Jf/njWZPo+UpeT/CkUu5Q/mmVD8Ic978XNH7N
      gE7kgb3OclXfrd2Y/Wd6/aRwAr0AVGDHx4V4fhpPgBpuY/Bf9wNhzenQQQKBgAuh
      IIcUWPA1VwPohxWJGITRQSuUrYOvKTUYRCYCrgGcIREPNs/facS/29n3SRu+blQY
      yDcngb8se+7WOZ3UoLxevr1srbEmuCRPRfnQ4jM9SLjdPK83xLPtp3Oy5lauJesm
      DpmCBVD+JP50epk0yfj3r2bVnx1nFi2ObV3q7OgBAoGAeKMerrQicl2P1iqeBD2l
      5a66QPcT4oOscQoEr5Z/2yesrHIqY+hT2Y/ACxwehyRo8cw99qprJevgGobtgi27
      3me8dC4ZYCqtXqoUdEwDu+Bg95q4HdTwpK5/S2f9m6/XFvGxZND95k8pFORMf30T
      BdMgQ3k7kspFZu4WK5KzYx4=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart